html {
  font-size: 18px !important;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-image: url(./background.png);
}

.paper {
  padding: 5px 8px !important;
}